Hi, [% receiver.name %]!

[% subject_user.name %] has posted a comment on the discussion you've been joining.

"[% review.comment %]"

http://prepan.org[% module.path %]#comments

If you don't want to receive this kind of email, you can change the setting at:
http://prepan.org[% receiver.path %].edit

--
PrePAN
http://prepan.org/
